<section data-ng-controller="SyndicatesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="syndicate.name"></h1>
        <div data-ng-bind="syndicate.googleCalendar"></div>
        <div data-ng-bind="syndicate.message_tree"></div>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == syndicate.user._id">
		<a class="btn btn-primary" href="/#!/syndicates/{{syndicate._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="syndicate.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="syndicate.user.displayName"></span>
		</em>
	</small>
</section>